/* GLOBAL */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
}


/* NAVBAR */
.navbar {
    min-height: 120px;
    padding: 10px 100px;
}

.navbar-brand img {
    max-height: 80px;
}

.navbar-nav .nav-link {
    font-size: 22px;
    font-weight: 500;
    color: black;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #0266AE;
}

/* HERO */
.hero img,
section img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* ===== katalog card ===== */
/* CARD */
.product-card {
    border-radius: 18px;
    overflow: hidden;
    background: #f7f7f7;
    border: 1px solid #eee;
    transition: 0.25s ease;
}

.product-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
}

/* IMAGE WRAPPER */
.image-box {
    position: relative;
    background: #fff;
    padding: 25px;
}
.product-card .image-box img{
    width: 100%;
    height: 200px;
    object-fit: contain;
}

/* ZOOM ANIMATION */
.img-zoom-container {
    overflow: hidden;
    border-radius: 10px;
}

.product-image {
    transition: transform 0.4s ease;
}

.product-card:hover .product-image {
    transform: scale(1.12);
}

/* BADGE */
.badge-sold {
    position: absolute;
    top: 14px;
    left: 14px;
    background: #e60023;
    color: #fff;
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 50px;
    font-weight: bold;
    z-index: 99;
}

.badge-available {
    position: absolute;
    top: 14px;
    left: 14px;
    background: #28b63f;
    color: #fff;
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 50px;
    font-weight: bold;
    z-index: 99;
}

/* FAVORITE BUTTON */
.fav-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    background: #fff;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s ease;
    z-index: 99;
}

.fav-btn:hover {
    background: #ffe0e0;
    transform: scale(1.1);
}

/* TEXT */
.product-title {
    font-weight: 700;
    color: #1c2b55;
    margin: 0;
}

.product-price {
    font-size: 18px;
    font-weight: 700;
    color: #e60023;
    margin-top: 4px;
}

/* ADD TO CART */
.add-cart-btn {
    border-radius: 12px;
    font-weight: 600;
    padding: 10px;
    margin-bottom: 12px;
}

.add-cart-btn:hover {
    background: #0033ff;
}

/* BUTTON HABIS */
.btn-sold {
    padding: 13px;
    border-radius: 0;
    font-weight: bold;
    border: none;
    border-top: 1px solid #eee;
}

/*  product CARD */

.brand-card {
    border-radius: 12px;
    padding: 15px;
    border: 1px solid #eee;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    transition: 0.25s ease;
    margin-bottom: 20px;
}

.brand-card:hover {
    transform: translateY(-6px);
    box-shadow: var(--shadow-card);
}

.brand-card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

@media(max-width: 768px) {
    .brand-card {
        height: 80px;
        width: auto;
    }

    .brand-card img {
        max-height: 100%;
        max-width: 100%;
    }
}

/* KONTAK */
section.container ul li {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}

section.container ul li i {
    color: #0266AE;
}

/* FOOTER */
footer {
    background-color: #0266AE !important;
}


footer h5 {
    font-size: 24px;
    margin-bottom: 15px;
}

footer p {
    font-size: 13px;
    line-height: 1.6;
}

footer img {
    max-width: 200px;
}

/* COPYRIGHT */
.text-center.bg-secondary {
    font-size: 20px;
    font-weight: 600;
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .navbar {
        padding: 10px 30px;
    }

    section.container h2 {
        font-size: 32px;
    }

    .card {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    section.container h2 {
        font-size: 26px;
    }

    footer p {
        font-size: 16px;
    }
}
